.circleMenu {
  .container {
    height: 700px;
    padding: 0px;
    margin: 0px;
    width: auto;
    // background: #303c54;
    //max-width: 700px;
    margin: 0px;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    .menuBackground {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 100;
      background-color: #ffffff;
      // background-color: #f0e8d1;
    }

    .menuToggle {
      position: absolute;
      z-index: 2000;
      margin-top: 2em;
      margin-left: 2em;
      height: 6em;
      width: 6em;
      border-radius: 50%;
      background-color: transparent;
      outline: none;

      i {
        font-size: 20px;
      }
    }

    .toggleOpen {
      border: 2px solid #f2f2f2;
      color: #f2f2f2;
      top: 50%;
      left: 50%;
      margin-top: -3em;
      margin-left: -3em;
      animation: fadeIn 1s 1 ease-in;
    }

    .toggleClosed {
      border: 3px solid white;
      color: white;
    }

    .menuWrapperOpen {
      opacity: 1;
      visibility: visible;
      transition: all 0.2s ease-out;
    }

    .menuWrapperClosed {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-out;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
